<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/timeline.css') }}">
    <title>新規登録</title>
</head>
<body>
    <header><h1>新規投稿</h1></header>
    <form action="{{url_for('post')}}" method="post" enctype="multipart/form-data">
        <table id="timeline">
            <tr>
                <th>投稿内容</th>
                <td><input type="text" name="text" required></td>
            </tr>
            <tr>
                <th>写真</th>
                <td><input type="file" name="photo" accept="image/*"></td>
            </tr>
        </table>
        <input type="submit" value="投稿" class="button">
    </form>

    <nav>
        <a href="{{url_for('timeline')}}" class="button">タイムライン</a>
        <a href="{{url_for('newpost')}}" class="button">新規投稿</a>
        <a href="{{ url_for('logout') }}" class="button">ログアウト</a>
        <a href="{{ url_for('mypage') }}" class="button">マイページ</a>
        <a href="{{ url_for('stations') }}" class="button">到達駅</a>
    </nav>
</body>
</html>