<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css') }}">
    <title>ログイン</title>
</head>
<body>
    <div class="ticket">
        
        <h1>RAILINE</h1>
        <h2>ログイン</h2>
        {% if data %}
            <p style="color: red;">{{ data }}</p>
        {% endif %}
        <form action="{{ url_for('login') }}" method="post">
            <table>
                <tr><th>メールアドレス</th><td><input type="email" name="mail" required></td></tr>
                <tr><th>パスワード</th><td><input type="password" name="password" required></td></tr>
            </table>
            <input type="submit" value="ログイン" class="button">
        </form>
        <a href="{{ url_for('new') }}" class="button">新規登録</a>

    </div>
</body>
</html>